body {
	--background-body: linear-gradient(#ffcc00,#ffc600);
	--background-statusbar: #0066cc;
	--background-important: #FFE377;
	--background-addfilters: #FFE377;
	--background-filters: #59A7F5;
	--background-functions: #FFE377;
	--background-config: #FFE377;
	--background-tables: #FFE377;
	--background-resultswrapper: #FFFFAE;
	--background-statwrapper: #FFFFAE;
	--background-detailswrapper: #FFFFAE;
	--background-goodmessage: #BDFFAE;
	--background-badmessage: #FFAEC8;
	--background-action: #ffcc00;
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: #FFDC4C;	
	--background-details-new: #ADD8E6;	
	--background-marked: #80ff80;
	--background-cleanup: #cce0ff;
	--background-warning: #ffa000;	
	--background-body-transparent: #ffcc00A0;
	--background-subtable-header: #ADBCCD;
	--background-choose-subtable: #FFF0B5;
	--color-statusbar: #fff;
	--color-resultswrapper: #000;
	--color-statwrapper: #000;
	--color-detailswrapper: #000;
	--color-hits: #000;
	--color-unique: #0000ff;	
	--color-fontsize-selector: #ffff00;
	--color-sidebar-inactive: #808080;
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: #0000c0;	
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
