body {
	--background-body: linear-gradient(hsla(386.39266655190188,37.8696977525187056%,80.58823529411765%,1),hsla(398.13011828935362,5.2166365280289256%,80.58823529411765%,1));
	--background-statusbar: hsla(389.44879960803496,21.4504027617952156%,91.17647058823530%,1);
	--background-important: hsla(250.98726114649648,12.3594936708860856%,95.88235294117645%,1);
	--background-addfilters: hsla(405.27297543221078,32.3594936708861256%,88.03921568627451%,1);
	--background-filters: hsla(404.99999999999966,62.3594936708860856%,69.01960784313725%,1); /*hsla(405.27297543221078,8.0116675839295456%,81.76470588235293%,1);*/
	--background-functions: hsla(389.44879960803496,21.4504027617952156%,91.17647058823530%,1);
	--background-config: hsla(389.44879960803496,21.4504027617952156%,91.17647058823530%,1);
	--background-tables: hsla(384.74872903640474,39.6644582098931756%,72.15686274509803%,1); /*hsla(405.27297543221078,17.6226515656229356%,84.90196078431373%,1);*/
	--background-resultswrapper: linear-gradient(hsla(384.74872903640474,39.6644582098931756%,72.15686274509803%,1),hsla(390.66726114649646,41.9773280657905356%,69.01960784313725%,1)); /*linear-gradient(hsla(405.27297543221078,-3.7695385871784244%,75.49019607843137%,1), hsla(344.32059447982979,-26.5293952180028054%,68.03921568627451%,1)); */
	--background-statwrapper: linear-gradient(hsla(190.98726114649648,-37.6405063291139144%,99.80392156862745%,1),hsla(250.98726114649648,62.3594936708860856%,96.86274509803922%,1));
	--background-detailswrapper: linear-gradient(hsla(190.98726114649648,-37.6405063291139144%,99.80392156862745%,1),hsla(250.98726114649648,62.3594936708860856%,96.86274509803922%,1));
	--background-goodmessage: hsla(310.98726114649648,62.3594936708860856%,96.47058823529412%,1);
	--background-badmessage: hsla(190.98726114649648,62.3594936708860856%,83.13725490196078%,1);
	--background-action: hsla(389.44879960803496,21.4504027617952156%,91.17647058823530%,1);
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: linear-gradient(hsla(250.98726114649648,62.3594936708860856%,96.86274509803922%,1),hsla(250.98726114649648,62.3594936708860856%,93.72549019607843%,1));	
	--background-details-new: linear-gradient(hsla(344.32059447982979,52.3594936708861156%,95.88235294117647%,1),hsla(295.98726114649647,54.6671859785784256%,94.70588235294117%,1));	
	--background-filepreview: hsla(389.44879960803496,21.4504027617952156%,91.17647058823530%,1);
	--background-marked: hsla(310.98726114649648,62.3594936708860856%,96.47058823529412%,1);
	--background-cleanup: #fff;
	--background-warning: hsla(228.63431997002589,62.3594936708860856%,49.80392156862745%,1);
	--background-body-transparent: linear-gradient(hsla(386.39266655190188,37.8696977525187056%,80.58823529411765%,.62745098039215686274),hsla(398.13011828935362,5.2166365280289256%,80.58823529411765%,.62745098039215686274));
	--background-subtable-header: hsla(377.30305062018076,-15.8014258693437804%,82.74509803921568%,1);
	--background-choose-subtable: hsla(383.91033806957341,37.0721373490470556%,82.74509803921568%,1);
	--color-statusbar: hsla(190.98726114649648,-37.6405063291139144%,30.39215686274510%,1);
	--color-resultswrapper: hsla(190.98726114649648,-37.6405063291139144%,5.294117647058823%,1);
	--color-statwrapper: hsla(190.98726114649648,-37.6405063291139144%,5.294117647058823%,1);
	--color-detailswrapper: hsla(190.98726114649648,-37.6405063291139144%,5.294117647058823%,1);
	--color-hits: hsla(190.98726114649648,-37.6405063291139144%,5.294117647058823%,1);
	--color-unique: hsla(392.06834222757755,-8.2754269640345474%,49.21568627450980%,1);	
	--color-fontsize-selector: hsla(404.99999999999966,62.3594936708860856%,69.01960784313725%,1); /*hsla(386.39266655190188,37.8696977525187056%,80.58823529411765%,1);*/	
	--color-sidebar-inactive: hsla(190.98726114649648,-37.6405063291139144%,75.09803921568628%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: hsla(404.99999999999966,24.4148296392655306%,50.19607843137255%,1);
	--color-filelink: hsla(392.06834222757755,-8.2754269640345474%,49.21568627450980%,1);
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
