body {
	--background-body: linear-gradient(hsla(255.4054054054054,78.32144906155230%,80.7843137254902%,1),hsla(267.14285714285714,45.66838783706252%,80.7843137254902%,1));
	--background-statusbar: hsla(258.46153846153848,61.90215407082881%,91.37254901960785%,1);
	--background-important: hsla(120,52.81124497991968%,96.078431372549%,1);
	--background-addfilters: hsla(274.2857142857143,72.81124497991972%,88.23529411764706%,1);
	--background-filters: hsla(274.01273885350318,102.81124497991968%,69.2156862745098%,1); /*hsla(274.2857142857143,48.46341889296314%,81.96078431372548%,1);*/
	--background-functions: hsla(258.46153846153848,61.90215407082881%,91.37254901960785%,1);
	--background-config: hsla(258.46153846153848,61.90215407082881%,91.37254901960785%,1);
	--background-tables: hsla(253.76146788990826,80.11620951892677%,72.35294117647058%,1); /*hsla(274.2857142857143,58.07440287465653%,85.09803921568628%,1);*/
	--background-resultswrapper: linear-gradient(hsla(253.76146788990826,80.11620951892677%,72.35294117647058%,1),hsla(259.67999999999998,82.42907937482413%,69.2156862745098%,1)); /*linear-gradient(hsla(274.2857142857143,36.68221272185517%,75.68627450980392%,1), hsla(213.33333333333331,13.922356091030789%,68.23529411764706%,1)); */
	--background-statwrapper: linear-gradient(hsla(60,2.81124497991968%,100%,1),hsla(120,102.81124497991968%,97.05882352941177%,1));
	--background-detailswrapper: linear-gradient(hsla(60,2.81124497991968%,100%,1),hsla(120,102.81124497991968%,97.05882352941177%,1));
	--background-goodmessage: hsla(180,102.81124497991968%,96.66666666666667%,1);
	--background-badmessage: hsla(60,102.81124497991968%,83.33333333333333%,1);
	--background-action: hsla(258.46153846153848,61.90215407082881%,91.37254901960785%,1);
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: linear-gradient(hsla(120,102.81124497991968%,97.05882352941177%,1),hsla(120,102.81124497991968%,93.92156862745098%,1));	
	--background-details-new: linear-gradient(hsla(213.33333333333331,92.81124497991971%,96.07843137254902%,1),hsla(164.99999999999999,95.11893728761202%,94.90196078431372%,1));	
	--background-filepreview: hsla(258.46153846153848,61.90215407082881%,91.37254901960785%,1);
	--background-marked: hsla(180,102.81124497991968%,96.66666666666667%,1);
	--background-cleanup: #fff;
	--background-warning: hsla(97.64705882352941,102.81124497991968%,50%,1);
	--background-body-transparent: linear-gradient(hsla(255.4054054054054,78.32144906155230%,80.7843137254902%,.62745098039215686274),hsla(267.14285714285714,45.66838783706252%,80.7843137254902%,.62745098039215686274));
	--background-subtable-header: hsla(246.31578947368428,24.650325439689814%,82.94117647058823%,1);
	--background-choose-subtable: hsla(252.92307692307693,77.52388865808065%,82.94117647058823%,1);
	--color-statusbar: hsla(60,2.81124497991968%,30.58823529411765%,1);
	--color-resultswrapper: hsla(60,2.81124497991968%,5.490196078431373%,1);
	--color-statwrapper: hsla(60,2.81124497991968%,5.490196078431373%,1);
	--color-detailswrapper: hsla(60,2.81124497991968%,5.490196078431373%,1);
	--color-hits: hsla(60,2.81124497991968%,5.490196078431373%,1);
	--color-unique: hsla(261.08108108108107,32.176324344999047%,49.41176470588235%,1);	
	--color-fontsize-selector: hsla(274.01273885350318,102.81124497991968%,69.2156862745098%,1); /*hsla(255.4054054054054,78.32144906155230%,80.7843137254902%,1);*/	
	--color-sidebar-inactive: hsla(60,2.81124497991968%,75.29411764705883%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: hsla(274.01273885350318,64.866580948299125%,50.3921568627451%,1);
	--color-filelink: hsla(261.08108108108107,32.176324344999047%,49.41176470588235%,1);
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
