body {
	--background-body: linear-gradient(hsla(221.39266655190222,36.66495466951474604%,80.58823529411765%,1),hsla(233.13011828935396,4.01189344502496604%,80.58823529411765%,1));
	--background-statusbar: hsla(224.44879960803530,20.24565967879125604%,91.17647058823530%,1);
	--background-important: hsla(85.98726114649682,11.15475058788212604%,95.88235294117645%,1);
	--background-addfilters: hsla(240.27297543221112,31.15475058788216604%,88.03921568627451%,1);
	--background-filters: hsla(240.00000000000000,61.15475058788212604%,69.01960784313725%,1); /*hsla(240.27297543221112,6.80692450092558604%,81.76470588235293%,1);*/
	--background-functions: hsla(224.44879960803530,20.24565967879125604%,91.17647058823530%,1);
	--background-config: hsla(224.44879960803530,20.24565967879125604%,91.17647058823530%,1);
	--background-tables: hsla(219.74872903640508,38.45971512688921604%,72.15686274509803%,1); /*hsla(240.27297543221112,16.41790848261897604%,84.90196078431373%,1);*/
	--background-resultswrapper: linear-gradient(hsla(219.74872903640508,38.45971512688921604%,72.15686274509803%,1),hsla(225.66726114649680,40.77258498278657604%,69.01960784313725%,1)); /*linear-gradient(hsla(240.27297543221112,-4.97428167018238396%,75.49019607843137%,1), hsla(179.32059447983013,-27.73413830100676496%,68.03921568627451%,1)); */
	--background-statwrapper: linear-gradient(hsla(25.98726114649682,-38.84524941211787396%,99.80392156862745%,1),hsla(85.98726114649682,61.15475058788212604%,96.86274509803922%,1));
	--background-detailswrapper: linear-gradient(hsla(25.98726114649682,-38.84524941211787396%,99.80392156862745%,1),hsla(85.98726114649682,61.15475058788212604%,96.86274509803922%,1));
	--background-goodmessage: hsla(145.98726114649682,61.15475058788212604%,96.47058823529412%,1);
	--background-badmessage: hsla(25.98726114649682,61.15475058788212604%,83.13725490196078%,1);
	--background-action: hsla(224.44879960803530,20.24565967879125604%,91.17647058823530%,1);
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: linear-gradient(hsla(85.98726114649682,61.15475058788212604%,96.86274509803922%,1),hsla(85.98726114649682,61.15475058788212604%,93.72549019607843%,1));	
	--background-details-new: linear-gradient(hsla(179.32059447983013,51.15475058788215604%,95.88235294117647%,1),hsla(130.98726114649681,53.46244289557446604%,94.70588235294117%,1));	
	--background-filepreview: hsla(224.44879960803530,20.24565967879125604%,91.17647058823530%,1);
	--background-marked: hsla(145.98726114649682,61.15475058788212604%,96.47058823529412%,1);
	--background-cleanup: #fff;
	--background-warning: hsla(63.63431997002623,61.15475058788212604%,49.80392156862745%,1);
	--background-body-transparent: linear-gradient(hsla(221.39266655190222,36.66495466951474604%,80.58823529411765%,.62745098039215686274),hsla(233.13011828935396,4.01189344502496604%,80.58823529411765%,.62745098039215686274));
	--background-subtable-header: hsla(212.30305062018110,-17.00616895234773996%,82.74509803921568%,1);
	--background-choose-subtable: hsla(218.91033806957375,35.86739426604309604%,82.74509803921568%,1);
	--color-statusbar: hsla(25.98726114649682,-38.84524941211787396%,30.39215686274510%,1);
	--color-resultswrapper: hsla(25.98726114649682,-38.84524941211787396%,5.294117647058823%,1);
	--color-statwrapper: hsla(25.98726114649682,-38.84524941211787396%,5.294117647058823%,1);
	--color-detailswrapper: hsla(25.98726114649682,-38.84524941211787396%,5.294117647058823%,1);
	--color-hits: hsla(25.98726114649682,-38.84524941211787396%,5.294117647058823%,1);
	--color-unique: hsla(227.06834222757789,-9.48017004703850696%,49.21568627450980%,1);	
	--color-fontsize-selector: hsla(240.00000000000000,61.15475058788212604%,69.01960784313725%,1); /*hsla(221.39266655190222,36.66495466951474604%,80.58823529411765%,1);*/	
	--color-sidebar-inactive: hsla(25.98726114649682,-38.84524941211787396%,75.09803921568628%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: hsla(240.00000000000000,23.21008655626157104%,50.19607843137255%,1);
	--color-filelink: hsla(227.06834222757789,-9.48017004703850696%,49.21568627450980%,1);
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
