body {
	--background-body: linear-gradient(#fff,#ff0);
	--background-statusbar: hsla(329.88235294117646,100.39525691699604604%,50%,1);
	--background-important: hsla(120,.39525691699604604%,94.11764705882352%,1);
	--background-addfilters: hsla(329.76377952755905,100.39525691699604604%,75.09803921568627%,1);
	--background-filters: hsla(300,100.39525691699604604%,75.09803921568627%,1);
	--background-functions: hsla(420,100.39525691699604604%,75.09803921568627%,1);
	--background-config: hsla(329.76377952755905,100.39525691699604604%,75.09803921568627%,1);
	--background-tables: hsla(209.76377952755905,100.39525691699604604%,75.09803921568627%,1);
	--background-resultswrapper: linear-gradient(hsla(180,100.39525691699604604%,50%,1),hsla(180,100.39525691699604604%,75.09803921568627%,1));
	--background-statwrapper: linear-gradient(hsla(120,.39525691699604604%,100%,1),hsla(180,100.39525691699604604%,75.09803921568627%,1));
	--background-detailswrapper: linear-gradient(hsla(120,.39525691699604604%,100%,1),hsla(180,100.39525691699604604%,75.09803921568627%,1));
	--background-goodmessage: hsla(240,100.39525691699604604%,75.09803921568627%,1);
	--background-badmessage: hsla(120,100.39525691699604604%,75.09803921568627%,1);
	--background-action: hsla(420,100.39525691699604604%,75.09803921568627%,1);
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: linear-gradient(hsla(120,.39525691699604604%,100%,1),hsla(180,100.39525691699604604%,75.09803921568627%,1));	
	--background-details-new: linear-gradient(hsla(240,100.39525691699604604%,75.09803921568627%,1),hsla(300,100.39525691699604604%,75.09803921568627%,1));	
	--background-marked: hsla(240,100.39525691699604604%,75.09803921568627%,1);
	--background-cleanup: hsla(336.47058823529412,100.39525691699604604%,90%,1);
	--background-warning: hsla(157.64705882352941,100.39525691699604604%,50%,1);	
	--background-body-transparent: linear-gradient(hsla(120,.39525691699604604%,100%,.62745098039215686274),hsla(180,100.39525691699604604%,50%,.62745098039215686274));
	--background-subtable-header: hsla(247.11864406779662,94.04605056778970604%,62.94117647058823%,1);
	--background-choose-subtable: hsla(139.842519685039363,100.39525691699604604%,75.09803921568627%,1);
	--color-statusbar: #fff;
	--color-resultswrapper: #000;
	--color-statwrapper: #000;
	--color-detailswrapper: #000;
	--color-hits: #000;
	--color-unique: hsla(360,100.39525691699604604%,50%,1);	
	--color-fontsize-selector: hsla(180,100.39525691699604604%,50%,1);
	--color-sidebar-inactive: hsla(120,.39525691699604604%,50.19607843137255%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: hsla(360,100.39525691699604604%,37.64705882352941%,1);	
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
