body {
	--background-body: linear-gradient(hsla(351.4054054054054,131.84823225064671%,80.7843137254902%,1),hsla(363.14285714285714,99.19517102615693%,80.7843137254902%,1));
	--background-statusbar: hsla(354.46153846153848,115.42893725992322%,91.37254901960785%,1);
	--background-important: hsla(216,106.33802816901409%,96.078431372549%,1);
	--background-addfilters: hsla(370.2857142857143,126.33802816901413%,88.23529411764706%,1);
	--background-filters: hsla(370.01273885350318,156.33802816901409%,69.2156862745098%,1); /*hsla(370.2857142857143,101.99020208205755%,81.96078431372548%,1);*/
	--background-functions: hsla(354.46153846153848,115.42893725992322%,91.37254901960785%,1);
	--background-config: hsla(354.46153846153848,115.42893725992322%,91.37254901960785%,1);
	--background-tables: hsla(349.76146788990826,133.64299270802118%,72.35294117647058%,1); /*hsla(370.2857142857143,111.60118606375094%,85.09803921568628%,1);*/
	--background-resultswrapper: linear-gradient(hsla(349.76146788990826,133.64299270802118%,72.35294117647058%,1),hsla(355.67999999999998,135.95586256391854%,69.2156862745098%,1)); /*linear-gradient(hsla(370.2857142857143,90.20899591094958%,75.68627450980392%,1), hsla(309.33333333333331,67.449139280125199%,68.23529411764706%,1)); */
	--background-statwrapper: linear-gradient(hsla(156,56.33802816901409%,100%,1),hsla(216,156.33802816901409%,97.05882352941177%,1));
	--background-detailswrapper: linear-gradient(hsla(156,56.33802816901409%,100%,1),hsla(216,156.33802816901409%,97.05882352941177%,1));
	--background-goodmessage: hsla(276,156.33802816901409%,96.66666666666667%,1);
	--background-badmessage: hsla(156,156.33802816901409%,83.33333333333333%,1);
	--background-action: hsla(354.46153846153848,115.42893725992322%,91.37254901960785%,1);
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: linear-gradient(hsla(216,156.33802816901409%,97.05882352941177%,1),hsla(216,156.33802816901409%,93.92156862745098%,1));	
	--background-details-new: linear-gradient(hsla(309.33333333333331,146.33802816901412%,96.07843137254902%,1),hsla(260.99999999999999,148.64572047670643%,94.90196078431372%,1));	
	--background-filepreview: hsla(354.46153846153848,115.42893725992322%,91.37254901960785%,1);
	--background-marked: hsla(276,156.33802816901409%,96.66666666666667%,1);
	--background-cleanup: #fff;
	--background-warning: hsla(193.64705882352941,156.33802816901409%,50%,1);
	--background-body-transparent: linear-gradient(hsla(351.4054054054054,131.84823225064671%,80.7843137254902%,.62745098039215686274),hsla(363.14285714285714,99.19517102615693%,80.7843137254902%,.62745098039215686274));
	--background-subtable-header: hsla(342.31578947368428,78.177108628784224%,82.94117647058823%,1);
	--background-choose-subtable: hsla(348.92307692307693,131.05067184717506%,82.94117647058823%,1);
	--color-statusbar: hsla(156,56.33802816901409%,30.58823529411765%,1);
	--color-resultswrapper: hsla(156,56.33802816901409%,5.490196078431373%,1);
	--color-statwrapper: hsla(156,56.33802816901409%,5.490196078431373%,1);
	--color-detailswrapper: hsla(156,56.33802816901409%,5.490196078431373%,1);
	--color-hits: hsla(156,56.33802816901409%,5.490196078431373%,1);
	--color-unique: hsla(357.08108108108107,85.703107534093457%,49.41176470588235%,1);	
	--color-fontsize-selector: hsla(370.01273885350318,156.33802816901409%,69.2156862745098%,1); /*hsla(351.4054054054054,131.84823225064671%,80.7843137254902%,1);*/	
	--color-sidebar-inactive: hsla(156,56.33802816901409%,75.29411764705883%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: hsla(370.01273885350318,118.393364137393535%,50.3921568627451%,1);
	--color-filelink: hsla(357.08108108108107,85.703107534093457%,49.41176470588235%,1);
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
