body {
	--background-body: linear-gradient(hsla(424.11128775834656,175.51020408163262%,80.7843137254902%,1),hsla(435.84873949579830,142.85714285714284%,80.7843137254902%,1));
	--background-statusbar: hsla(427.16742081447964,159.09090909090913%,91.37254901960785%,1);
	--background-important: hsla(64.70588235294116,100%,96.078431372549%,1);
	--background-addfilters: hsla(442.99159663865546,170.00000000000004%,88.23529411764706%,1);
	--background-filters: hsla(442.71862120644434,200%,69.2156862745098%,1); /*hsla(442.99159663865546,145.65217391304346%,81.96078431372548%,1);*/
	--background-functions: hsla(427.16742081447964,159.09090909090913%,91.37254901960785%,1);
	--background-config: hsla(427.16742081447964,159.09090909090913%,91.37254901960785%,1);
	--background-tables: hsla(422.46735024284942,177.30496453900709%,72.35294117647058%,1); /*hsla(442.99159663865546,155.26315789473685%,85.09803921568628%,1);*/
	--background-resultswrapper: linear-gradient(hsla(422.46735024284942,177.30496453900709%,72.35294117647058%,1),hsla(428.38588235294114,179.61783439490445%,69.2156862745098%,1)); /*linear-gradient(hsla(442.99159663865546,133.87096774193549%,75.68627450980392%,1), hsla(382.03921568627447,111.111111111111109%,68.23529411764706%,1)); */
	--background-statwrapper: linear-gradient(hsla(228.70588235294116,100%,100%,1),hsla(288.70588235294116,200%,97.05882352941177%,1));
	--background-detailswrapper: linear-gradient(hsla(120.70588235294116,100%,100%,1),hsla(120.70588235294116,200%,97.05882352941177%,1));
	--background-goodmessage: hsla(348.70588235294116,200%,96.66666666666667%,1);
	--background-badmessage: hsla(228.70588235294116,200%,83.33333333333333%,1);
	--background-action: hsla(427.16742081447964,159.09090909090913%,91.37254901960785%,1);
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: linear-gradient(hsla(120.70588235294116,200%,97.05882352941177%,1),hsla(120.70588235294116,200%,93.92156862745098%,1));	
	--background-details-new: linear-gradient(hsla(382.03921568627447,190.00000000000003%,96.07843137254902%,1),hsla(333.70588235294115,192.30769230769234%,94.90196078431372%,1));	
	--background-filepreview: hsla(427.16742081447964,159.09090909090913%,91.37254901960785%,1);
	--background-marked: hsla(348.70588235294116,200%,96.66666666666667%,1);
	--background-cleanup: #fff;
	--background-warning: hsla(266.35294117647057,200%,50%,1);
	--background-body-transparent: linear-gradient(hsla(424.11128775834656,175.51020408163262%,80.7843137254902%,.62745098039215686274),hsla(435.84873949579830,142.85714285714284%,80.7843137254902%,.62745098039215686274));
	--background-subtable-header: hsla(415.02167182662544,121.839080459770134%,82.94117647058823%,1);
	--background-choose-subtable: hsla(421.62895927601809,174.71264367816097%,82.94117647058823%,1);
	--color-statusbar: hsla(228.70588235294116,100%,30.58823529411765%,1);
	--color-resultswrapper: hsla(228.70588235294116,100%,5.490196078431373%,1);
	--color-statwrapper: hsla(228.70588235294116,100%,5.490196078431373%,1);
	--color-detailswrapper: hsla(228.70588235294116,100%,5.490196078431373%,1);
	--color-hits: hsla(228.70588235294116,100%,5.490196078431373%,1);
	--color-unique: hsla(429.78696343402223,129.365079365079367%,29.41176470588235%,1);	
	--color-fontsize-selector: hsla(442.71862120644434,200%,69.2156862745098%,1); /*hsla(424.11128775834656,175.51020408163262%,80.7843137254902%,1);*/	
	--color-sidebar-inactive: hsla(228.70588235294116,100%,75.29411764705883%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: hsla(442.71862120644434,162.055335968379445%,50.3921568627451%,1);
	--color-filelink: hsla(429.78696343402223,129.365079365079367%,49.41176470588235%,1);
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
