body {
	--background-body: linear-gradient(hsla(101.39266655190222,36.26969775251870%,80.58823529411765%,1),hsla(113.13011828935396,3.61663652802892%,80.58823529411765%,1));
	--background-statusbar: hsla(104.44879960803530,19.85040276179521%,91.17647058823530%,1);
	--background-important: hsla(-34.01273885350318,10.75949367088608%,95.88235294117645%,1);
	--background-addfilters: hsla(120.27297543221112,30.75949367088612%,88.03921568627451%,1);
	--background-filters: hsla(120.00000000000000,60.75949367088608%,69.01960784313725%,1); /*hsla(120.27297543221112,6.41166758392954%,81.76470588235293%,1);*/
	--background-functions: hsla(104.44879960803530,19.85040276179521%,91.17647058823530%,1);
	--background-config: hsla(104.44879960803530,19.85040276179521%,91.17647058823530%,1);
	--background-tables: hsla(99.74872903640508,38.06445820989317%,72.15686274509803%,1); /*hsla(120.27297543221112,16.02265156562293%,84.90196078431373%,1);*/
	--background-resultswrapper: linear-gradient(hsla(99.74872903640508,38.06445820989317%,72.15686274509803%,1),hsla(105.66726114649680,40.37732806579053%,69.01960784313725%,1)); /*linear-gradient(hsla(120.27297543221112,-5.36953858717843%,75.49019607843137%,1), hsla(59.32059447983013,-28.129395218002811%,68.03921568627451%,1)); */
	--background-statwrapper: linear-gradient(hsla(-94.01273885350318,-39.24050632911392%,99.80392156862745%,1),hsla(-34.01273885350318,60.75949367088608%,96.86274509803922%,1));
	--background-detailswrapper: linear-gradient(hsla(-94.01273885350318,-39.24050632911392%,99.80392156862745%,1),hsla(-34.01273885350318,60.75949367088608%,96.86274509803922%,1));
	--background-goodmessage: hsla(25.98726114649682,60.75949367088608%,96.47058823529412%,1);
	--background-badmessage: hsla(-94.01273885350318,60.75949367088608%,83.13725490196078%,1);
	--background-action: hsla(104.44879960803530,19.85040276179521%,91.17647058823530%,1);
	/*--background-detailswrapper: #fff;*/
	--background-row-odd: transparent;
	--background-row-even: rgb(128,128,128,0.1);
	--background-details: linear-gradient(hsla(-34.01273885350318,60.75949367088608%,96.86274509803922%,1),hsla(-34.01273885350318,60.75949367088608%,93.72549019607843%,1));	
	--background-details-new: linear-gradient(hsla(59.32059447983013,50.75949367088611%,95.88235294117647%,1),hsla(10.98726114649681,53.06718597857842%,94.70588235294117%,1));	
	--background-filepreview: hsla(104.44879960803530,19.85040276179521%,91.17647058823530%,1);
	--background-marked: hsla(25.98726114649682,60.75949367088608%,96.47058823529412%,1);
	--background-cleanup: #fff;
	--background-warning: hsla(-56.36568002997377,60.75949367088608%,49.80392156862745%,1);
	--background-body-transparent: linear-gradient(hsla(101.39266655190222,36.26969775251870%,80.58823529411765%,.62745098039215686274),hsla(113.13011828935396,3.61663652802892%,80.58823529411765%,.62745098039215686274));
	--background-subtable-header: hsla(92.30305062018110,-17.401425869343786%,82.74509803921568%,1);
	--background-choose-subtable: hsla(98.91033806957375,35.47213734904705%,82.74509803921568%,1);
	--color-statusbar: hsla(-94.01273885350318,-39.24050632911392%,30.39215686274510%,1);
	--color-resultswrapper: hsla(-94.01273885350318,-39.24050632911392%,5.294117647058823%,1);
	--color-statwrapper: hsla(-94.01273885350318,-39.24050632911392%,5.294117647058823%,1);
	--color-detailswrapper: hsla(-94.01273885350318,-39.24050632911392%,5.294117647058823%,1);
	--color-hits: hsla(-94.01273885350318,-39.24050632911392%,5.294117647058823%,1);
	--color-unique: hsla(107.06834222757789,-9.875426964034553%,49.21568627450980%,1);	
	--color-fontsize-selector: hsla(120.00000000000000,60.75949367088608%,69.01960784313725%,1); /*hsla(101.39266655190222,36.26969775251870%,80.58823529411765%,1);*/	
	--color-sidebar-inactive: hsla(-94.01273885350318,-39.24050632911392%,75.09803921568628%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar: hsla(0,0%,0%,1);
	--color-sidebar-changed: hsla(120.00000000000000,22.814829639265525%,50.19607843137255%,1);
	--color-filelink: hsla(107.06834222757789,-9.875426964034553%,49.21568627450980%,1);
	--background-slider: var(--color-statusbar);
	--background-slider-checked: var(--background-goodmessage);
	--button-slider: var(--color-statusbar);
	--background-helpmode: var(--background-important);
	--color-helpmode: var(--color-hits);
}
