html {
	--background-body: linear-gradient(hsla(309,20%,89.41176470588236%,1),hsla(309,20%,83.13725490196079%,1)) no-repeat;
	--background-wrapper: linear-gradient(hsla(309,20%,68.62745098039215%,1), hsla(309,20%,67.84313725490196%,1));
	--background-loginform: linear-gradient(hsla(309,20%,100%,1),hsla(369,120%,97.05882352941177%,1));
	--background-login-error: hsla(309,120%,83.33333333333333%,1);
	--background-login-actionneeded: hsla(549,120%,87.05882352941177%,1);
	--color-loginform: hsla(309,20%,30.58823529411765%,1);
	--color: #111;
}
